body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: teal;
}

header, footer {
  background: #242222;
  height: 10vh;
}

header{
  padding: 1em;
}

canvas {
  border: 10px solid;
  display: block;
  margin: 0 auto;
  float: left;
  height: 520px;
  width: 840px;
}

a:hover {
  color: white;
  text-decoration: none;
}


.commands {
  width: 100px;
}

.container {
  display: flex;
  margin: 0px;
  justify-content: left;
  /* flex-flow: row;
  flex-wrap: wrap; */
}
.keys {
  font-size: 30px;
}
  
.instructionDebugger {
  max-height: 200px;
  overflow: auto;
  display:inline-block;
  text-align: left;
}

.opCodeDebugger {
  display: block;
}

.selection-and-key-area {
  height: 542px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.selection-and-key-area>* {
  margin: 5px;
}

.selection-and-key-area-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.emulator-area {
  margin: 10px;
}

.selection-area {
  display: flex;
  flex-direction: row;;
}

.button-area {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-txt {
  margin: 10px;
  color: white;
}

.header-icons {
  margin: 10px;
}

.header-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.popup {
  visibility: hidden;
}

.popup:hover{
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: fit-content;
  z-index: 1;
  background: white;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.uppercase {
  text-transform: uppercase;
}

.registers {
  padding-top: 20px;

}

.stars {
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.wideTable>td, th {
  width: 100px;
}

.flexColumn {
  display: flex;
  flex-flow: column;
}

.flexRow {
  display: flex;
  flex-flow: row;
}

.setWidth {
  width: 250px;
}

.tableTextSize>td, th {
  font-size: 10px;
}

.test {
  align-self: flex-start;
}