body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: teal;
}

header, footer {
  background: #242222;
  height: 10vh;
}

header{
  padding: 1em;
}

canvas {
  border: 10px solid;
  display: block;
  margin: 0 auto;
  float: left;
  height: 520px;
  width: 840px;
}

a:hover {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  margin: 0px;
  justify-content: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.header-txt {
  margin: 10px;
  color: white;
}

.selection-and-key-area {
  height: 542px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.selection-and-key-area>* {
  margin: 5px;
}

.header-icon-margin {
  margin: 10px;
}

.popup {
  visibility: hidden;
}

.popup:hover{
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: fit-content;
  z-index: 1;
  background: white;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.uppercase {
  text-transform: uppercase;
}

.pad-top {
  padding-top: 20px;
}

.hidden {
  visibility: hidden;
}

.setWidth {
  width: 250px;
}